:root {
    --main-color: #FCAA72;
}

body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "footer footer footer";
    grid-template-rows: 9rem 28rem 60.125rem 48.25rem 63.625rem 11.75rem;
    grid-template-columns: 8.75rem 1fr 8.75rem;
    margin: 0;
}

/*그리드 레이아웃*/
header {
    padding: 20px;
    grid-column-start: span 4;
}
div { 
    border: 1rem solid orange;
}
body>:nth-child(2) { /*가게 이미지*/
    grid-column-start: span 4; 
}
body>:nth-child(3) {
    margin-top: 8.125rem;
    grid-column-start: 2;
}
body>:nth-child(4) {
    grid-column-start: 2;
    margin-top: 8.5rem;
}
body>:nth-child(5) {
    grid-column-start: 2;
    margin-top: 12rem;
}
footer {
    border: 1rem solid orange;
    grid-column-start: span 3;
    padding: 20px;
    margin-top: 28.75rem;
}

/* 헤더 */
header{
    display: flex;
}

header > ul{
    list-style: none;
    justify-content: left;
}
ul>li {
    float: left;
    margin-right: 9.5rem;
    margin-top: 1rem;
    font-size: 20px;
}
.logo {
    height: 5.25rem;
    width: 11.563rem;
    margin-right: 15.375rem;
}