/* Font */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --main-color: #FCAA72;
    --card-background-color: #F9F9F9;
    --card-price: #FCAA72;
    --card-shadow: #EAEAEA;
    --footer-color: #f6f6f6;
    --footer-text-color: #4A4A4A;
    /* font */
    --menu-font-size: 1.5rem;
    --category-font-size: 2.25rem;
    /* --category-font-weight: ; */
    --text-color: #000;  
    --body-font: 'Nanum Gothic';
}

body {
    font-family: var(--body-font);
    /* overflow-x: hidden; */
    margin: 0;
}

.grid-container {
    display: grid;
    margin: 0;
}

/* 헤더  */
header {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.nav-menu>ul {
    list-style: none;
    display: flex;
    gap: 9.5rem;
}

ul>li {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left: 2rem;
    height: 5rem;
    width: 11.563rem;
    margin-right: 25rem;
}

.toggle {
    display: none;
}

/* nav hover */
.nav-link:hover {
    color: var(--main-color);
    transition: 0.3s;
}

/* 메인 */

h1, .text {
    text-align: center;
    width: 100%;
    transform: translateY(-300px);
}

.slide {
    /* margin-top: 2rem; */
    opacity: 0.5;
    width: 100%;
    height: 500px;
}

.section-text {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 6rem;
    margin-top: 2rem;
}

.section-image {
    background-image: url('../img/slide/slideImg3.png');
    width: 640px;
    height: 300px;
    background-size: 600px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
}

.box-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    text-align: center;
    margin-top: 8rem;
}

.section::after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 3px solid var(--main-color);
    margin: 10px auto;
}

.introduction-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
}
.card {
    text-align: center;
}
.card-description {
    padding-top: 2rem;
    text-align: center;
}
.card-image:hover {
    transition: all 0.7s ease-in-out;
    transform: scale(1.2);
    box-shadow: none;
}
.card-image { 
    transition: all 0.7s ease-in-out;
    transform: scale(1);
    box-shadow: 4px 4px 4px 4px var(--card-shadow);
    border-radius: 200px;
    width: 274px;
    height: 274px;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    background-size: 108px;
}

.card:nth-child(1)>figure {
    background-image: url('../img/icon/3021873\ 1.png');
}
.card:nth-child(2)>figure {
    background-image: url('../img/icon/2836619.png');
}
.card:nth-child(3)>figure {
    background-image: url('../img/icon/2224577\ 1.png');
}

.bestMenu-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-image {
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
}

.circle:nth-child(1)>.circle-image {
    /* width: 380px; */
    background-size: 310px;
    background-image: url('../img/food/칼국수.png');
}
.circle:nth-child(2)>.circle-image {
    /* width: 380px; */
    background-size: 320px;
    background-image: url('../img/food/칼제비.png');
}
.circle:nth-child(3)>.circle-image {
    /* width: 380px; */
    background-size: 428px;
    background-image: url('../img/food/오징어볶음.png');
}
.circle-menu {
    text-align: center;
}
.circle {
    width: 400px;
}
.section:nth-child(2) {
    margin-bottom: 0;
}

/* 지도 */
h2 {
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
}
h2::after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 3px solid var(--main-color);
    margin: 10px auto;
}

/* 내용 */
.root_daum_roughmap {
    margin: auto !important;
    margin-top: 4rem;
}
.bxs-phone-call {
    margin-left: 2rem;
}

.address-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: -5%;
}

.address-wrapper i {
    font-size: 350%;
    font-weight: 200;
    margin-right: 10px;
}

.address {
    font-size: 120%;
}

/* 반응형 */

/* 모바일 반응형 */
@media (max-width: 390px) {
    * {
        overflow-x: hidden;
    }
    /* 반응형 헤더, 햄버거 메뉴 */
    header {
        flex-direction: column;
        display: flex;
        /* align-items: flex-end; */
    }
    .nav-menu {
        max-width: 390px;
        display: none;
        /* height: 700px; */
        border-left: 2px solid var(--card-shadow);
    }
    .nav-menu.active {
        margin-right: -100px;
        display: flex;
        height: 700px;
        width: 300px;
    }

    .nav-menu>ul>li {
        text-align: center;
        padding-right: 2rem;
    }
    .nav-menu>ul>li:nth-child(1),
    .nav-menu>ul>li:nth-child(4){
        visibility: hidden;
        margin-top: 4.5rem;
    }
    .nav-menu>ul {
        margin-top: -1rem;
        justify-content: center;
        background-color: #fff;
        padding: 0;
        width: 290px;
        gap: 2rem;
        flex-direction: column;
        align-items: flex-end;
        display: flex;
    }
    .logo {
        position: absolute;
        left: 16px;
        width: 5rem;
        height: auto;
        margin-right: 0rem;
        margin-left: 0rem !important;
    }
    .toggle {
        position: fixed;
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .toggle>i {
        width: 36px;
    }
    a { /*소개, 메뉴, 리뷰, 오시는 길*/
        font-size: 16px;
        gap: 0;
    }

    /* 크기 조절 */
    .container {
        display: none;
    }
    .slide {
        margin-top: 4rem;
        width: 390px;
        height: auto;
    }
    .section {
        width: 390px;
        margin-top:5rem;
        font-size: medium;
    }
    .box-image, .section-text {
        width: 390px;
    }
    .section-text {
        text-align: center;
        margin-bottom: 2rem;
    }

    .box-image>.section-image {
        border-radius: 0;
        width: 390px;
        margin: 0;
        background-size: 390px;
    }
    .cards {
        display:block;
    }
    .card {
        margin-bottom: 2rem;
    }
    .card-image {
        width: 160px;
        height: 160px;
        background-size: 60px;
    }
    .introduction-container {
        width: 390px;
    }
    .bestMenu-container {
        height: 300px;
        display: contents;
        /* gap: 0; */
    }
    .circle {
        padding-left: 6.4rem;
        width: 180px;
    }
    .circle-image {
        height: 160px;
        background-size: 100px;
    }
    .circle:nth-child(1)>.circle-image {
        background-size: 110px;
        width: 100px;
    }
    .circle:nth-child(2)>.circle-image {
        background-size: 120px;
    }
    .circle:nth-child(3)>.circle-image {
        background-size: 160px;
    }
    .circle-menu {
        margin-top: 0;
    }

    .wrap_map {
        width: 390px;
    }
    .hide {
        width: 390px;
        overflow: hidden;
    }

    .root_daum_roughmap .wrap_controllers .wrap_btn_roadview {
        float: left;
    }
    .address>p {
        font-size: smaller;
    }
    .bxs-phone-call, .bxs-map {
        display: none !important;
    }
    .address-wrapper {
        text-align: center;
        display: contents;
        margin-bottom: 4rem;
        font-size: smaller;
    }
    .address {
        margin-top: 2rem;
    }
    .call {
        margin-bottom: 2rem;

    }

}

/* 노트북 반응형 */
@media screen and (max-width: 1536px) { /*노트북*/
    .logo {
        margin-right: 13.3rem;
    }

    .card-group {
        width: 1536px;
        text-align: center;
    }
    .address-wrapper {
        margin-left: -10%;
        gap: 4rem;
        margin-bottom: 4rem;
    }
    
    

}