@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --main-color: #FCAA72;
    --card-background-color: #F9F9F9;
    --card-price: #FCAA72;
    --card-shadow: #EAEAEA;
    --footer-color: #f6f6f6;
    --footer-text-color: #4A4A4A;
    /* font */
    --menu-font-size: 1.5rem;
    --category-font-size: 2.25rem;
    /* --category-font-weight: ; */
    --text-color: #000;  
    --body-font: 'Nanum Gothic';
}

body {
    font-family: var(--body-font);
    margin:0;
}

.grid-container {
    display: grid;
    margin: 0;
}

/* 헤더  */
header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 0px 0px var(--card-shadow);
    position: fixed;
    padding: 0.3rem;
    z-index: 1;
}

.nav-menu {
    margin-left: 10%;
}

.nav-menu>ul {
    list-style: none;
    display: flex;
    gap: 9.5rem;
}

ul>li {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    margin-left: 1rem;
    height: auto;
    width: 9rem;
    margin-right: 14rem;
}

.nav-toggle {
    display: none;
}

.nav-link {
    display: block;
}

/* nav hover */
.nav-link:hover {
    color: var(--main-color);
    transition: 0.3s;
}

.card-group {
    width: 100%;
    font-weight: 520;
    text-align: center;
    margin-bottom: 2.4rem;
    padding-top: 10%;
}
.card-group:after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 3px solid var(--main-color);
    margin: 10px auto;
}

/* footer */
footer {
    margin-top: 11rem;
    background-color: var(--footer-color);
    height: 9.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer>ul {
    list-style: none;
    display: flex;
}

footer>ul>li {
    font-size: 0.8rem;
    color: var(--footer-text-color);
}
footer>ul>li::after {
    margin-left: 1rem;
    margin-right: 1rem;
    content: "ㅣ";
    color: var(--footer-text-color);

}

footer>ul>li:last-child::after {
    content: none;
}

/* 내용 */
.root_daum_roughmap {
    margin: auto !important;
}

.address-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-left: -40%;
}

.address-wrapper i {
    font-size: 350%;
    font-weight: 200;
    margin-right: 10px;
}

.address {
    font-size: 120%;
}

/* 반응형 */
@media screen and (max-width: 1534px) {
    header, .nav-menu>ul {
        display: block;
    }
    .nav-list {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .nav-menu>ul>li {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu {
        right: 120px;
        position: fixed;
    }
    
    .nav-toggle {
        display: contents;
    }
    .bx-menu {
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .show-menu {
        height: 754px;
    }

    .ratings, .card {
        width: 850px;
    }

    .more {
        margin-right: 20%;
    }

    .review-img {
        width: 200px;
        height: 200px;
    }

    .review-img1 {
        margin-top: -35px;
    }

    .review-img2, .review-img3 {
        margin-top: -80px;
    }
}

@media screen and (max-width: 390px) {
    header, .nav-menu>ul {
        display: block;
    }
    .nav-list {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .nav-menu>ul>li {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu {
        right: 120px;
        position: fixed;
    }
    
    .nav-toggle {
        display: contents;
    }
    .bx-menu {
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .show-menu {
        height: 754px;
    }
}