/* Font */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --main-color: #FCAA72;

    /* font */
    --menu-font-size: 1.5rem;
    --category-font-size: 2.25rem;
    /* --category-font-weight: ; */
    --text-color: #000;  
    --body-font: 'Nanum Gothic';
}

body {
    font-family: var(--body-font);
}

.grid-container {
    display: grid;
    margin: 0;
}

/* 헤더  */
header {
    display: flex;
    align-items: center;
}

.nav-menu>ul {
    list-style: none;
    display: flex;
    gap: 9.5rem;
}

ul>li {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    margin-left: 1rem;
    height: 5rem;
    width: 11.563rem;
    margin-right: 14rem;
}

.nav-toggle {
    display: none;
}

.nav-link {
    display: block;
}

/* nav hover */
.nav-link:hover {
    color: var(--main-color);
    transition: 0.3s;
}
h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 3px;
}

/* 반응형 */
@media screen and (max-width: 1140px) {
    header, .nav-menu>ul {
        display: block;
    }
    .nav-list {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    ul>li {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu {
        right: 120px;
        position: fixed;
    }
    
    .nav-toggle {
        display: contents;
    }
    .bx-menu {
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .show-menu {
        height: 754px;
    }
}