/* Font */
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --main-color: #FCAA72;
    --card-background-color: #F9F9F9;
    --card-price: #FCAA72;
    --card-shadow: #EAEAEA;
    --footer-color: #f6f6f6;
    --footer-text-color: #4A4A4A;
    /* font */
    --menu-font-size: 1.5rem;
    --category-font-size: 2.25rem;
    /* --category-font-weight: ; */
    --text-color: #000;  
    --body-font: 'Nanum Gothic';
}

body {
    font-family: var(--body-font);
    margin: 0;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    margin: 0;
}

/* 헤더  */
header {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.nav-menu>ul {
    list-style: none;
    display: flex;
    gap: 9.5rem;
}

ul>li {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left: 2rem;
    height: 5rem;
    width: 11.563rem;
    margin-right: 25rem;
}

.toggle {
    display: none;
}

/* nav hover */
.nav-link:hover {
    color: var(--main-color);
    transition: 0.3s;
}

/* main card 메인 */
.card-group {
    width: 1984px;
    text-align: center;
    margin-bottom: 2.4rem;
    margin-top: 2.4rem;
}
.card-group:after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 3px solid var(--main-color);
    margin: 10px auto;
}

/* card ~! */
.group {
    margin-top: 4rem;
}

main {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    margin-left: 8rem;
    margin-bottom: 4rem;
    row-gap: 2rem;
}

.card {
    margin-top: 2rem;
    transition: 0.5s;
    width: 19rem;
    height: 30rem;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px var(--card-shadow);
    background-color: var(--card-background-color);
}

.card-description {
    text-align: center;
}
.card-menu, .card-explanation {
    margin-top: 2rem;
}

.card-explanation {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-price {
    font-size: 1.4rem;
    color: var(--card-price);
    font-weight: bold;
}

figure {
    background-image: url('img/food/칼국수.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 240px;
    width: 240px;
}

.group{
    transition-duration: 0.8s;
}

/* 카드 hover */
.card-explanation {
    opacity: 0;
}

.card:hover .card-explanation {
    transition: 0.5s;
    opacity: 0.5;
    color: var(--footer-text-color);
}
.card:hover{
    transition: 0.7s;
    transform: translateY(-50px);
    background-color: #fff;
}

/* 음식사진 */
.first-group>.card:nth-child(2)>figure {
    background-size: 210px;
    background-image: url('img/food/수제비.png');
}

.first-group>.card:nth-child(3)>figure {
    background-image: url('img/food/칼제비.png');
}
.first-group>.card:nth-child(4)>figure {
    background-size: 390px;
    background-image: url('img/food/만둣국.png');
}
.first-group>.card:nth-child(5)>figure {
    background-size: 220px;
    background-image: url('img/food/떡만둣국\ \(2\).png');
}

/* 전류 */
.second-group>.card:nth-child(1)>.card-image {
    background-size: 250px;
    background-image: url('img/food/두부전.jpg');
}

.second-group>.card:nth-child(2)>.card-image {
    background-size: 280px;
    background-image: url('img/food/김치전.png');
}

.second-group>.card:nth-child(4)>.card-image { 
    background-size: 250px;
    background-image: url('img/food/녹두전.png');
}

/* 안주류 */
.third-group>.card:nth-child(1)>figure{
    background-size: 220px;
    background-image: url('img/food/third-card-food\(1\).png');
}
.third-group>.card:nth-child(2)>.card-image {
    background-image: url('img/food/제육볶음.png'); /*바꾸기*/
}
.third-group>.card:nth-child(3)>.card-image {
    background-image: url('img/food/김치찌개.png');
}
.third-group>.card:nth-child(4)>.card-image {
    background-image: url('img/food/동태탕.png');
}
.third-group>.card:nth-child(5)>.card-image {
    background-image: url('img/food/third-card-food\(5\).png');
}
.third-group>.card:nth-child(6)>.card-image {
    background-image: url('img/food/third-card-food\(6\).png');
}

/* 주류 */
.last-group>.card:nth-child(1)>.card-image {
    background-image: url('img/food/막걸리.png');
    background-size: 250px;
}
.last-group>.card:nth-child(2)>.card-image {
    background-image: url('img/food/소주.png');
}
.last-group>.card:nth-child(3)>.card-image {
    background-image: url('img/food/맥주.png');
}
.last-group>.card:nth-child(4)>.card-image {
    background-size: 500px;
    background-image: url('img/food/drink.png');
}

.details {
    margin-right: 7.5rem;
    margin-top: 7.875rem;
}

.details>p {
    text-align: right;
}

#down > img {
    width: 36px;
}

#down:hover {
    transition: 1s;
    transform: translateY(10px);
}

#down {
    transition: 0.7s;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1740px;
}

/* 푸터 footer */
footer {
    margin-top: 11rem;
    background-color: var(--footer-color);
    height: 9.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer>ul {
    list-style: none;
    display: flex;
}

footer>ul>li {
    font-size: 0.8rem;
    color: var(--footer-text-color);
}
footer>ul>li::after {
    margin-left: 1rem;
    margin-right: 1rem;
    content: "ㅣ";
    color: var(--footer-text-color);
}

footer>ul>li:last-child::after {
    content: "";
}

/* 반응형 */
@media screen and (max-width: 1536px) { /*노트북*/
    #down {
        width: 1536px;
        text-align: center;
    }

    .logo {
        margin-right: 13.3rem;
    }

    .card-group {
        width: 1536px;
        text-align: center;
    }

    .group:nth-child(2)>.card-btn {
        visibility: visible;
    }
    
    .card-btn {
        width: 1400px;
        display: flex;
        justify-content: flex-end;
        margin-top: 1.4rem;
        /* margin-right: 22rem; */
        column-gap: 2rem;
        margin-bottom: 4rem;
    }

    main{
        margin-left: 7rem;
        width: 1340px;
        overflow: hidden;
        scroll-snap-type: x mandatory; /* 달라붙는 스냅 속성 부여 */
        overflow-y: hidden;
    }
}

/* 핸드폰 */
@media (max-width: 390px) {
/* 반응형 헤더, 햄버거 메뉴 */
    header {
        flex-direction: column;
        display: flex;
        align-items: flex-end;
    }
    .nav-menu {
        max-width: 390px;
        width: 0;
        display: none;
        border-left: 2px solid var(--card-shadow);
    }
    .nav-menu.active {
        margin-right: -20px;
        display: flex;
        width: 300px;
        height: 700px;
    }
    .nav-menu>ul>li {
        text-align: end;
        /* margin-top: 1.5rem; */
        padding-right: 2rem;
    }
    .nav-menu>ul>li:nth-child(1){
        margin-top: 4.5rem;
    }
    .nav-menu>ul>li:nth-child(4){
        margin-bottom: 4.5rem;
    }
    .nav-menu>ul {
        margin-top: -1rem;
        justify-content: center;
        background-color: #fff;
        padding: 0;
        width: 280px;
        gap: 2rem;
        flex-direction: column;
        display: flex;
        /* align-items: flex-end; */
    }
    .logo {
        position: absolute;
        left: 16px;
        width: 5rem;
        height: auto;
        margin-right: 0rem;
        margin-left: 0rem !important;
    }
    .toggle {
        position: fixed;
        display: flex;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .toggle>i {
        width: 36px;
    }
    a { /*소개, 메뉴, 리뷰, 오시는 길*/
        font-size: 16px;
        gap: 0;
    }

/* 모바일 화면에 맞게 크기 조절 */
    .group, .card-group, main {
        max-width: 390px;
    }
    .card-group {
        margin-bottom: 1rem;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5rem;
        margin-left: 1rem !important;
        margin: 0;
        margin-bottom: 2rem;
    }
    .card {
        margin-right: 0;
        pointer-events: none;
        height: 240px;
        width: 160px;
    }
    .card-menu, 
    .card-explanation, 
    .card-price {
        opacity: 1;
        margin: 0;
        font-size: smaller;
        margin-bottom: 10px;
    }
    
    .card-image, figure {
        margin: 0;
        margin-left: 1.8rem !important;
        margin-bottom: 1rem;
        margin-top: 1rem;
        height: 100px;
        width: 100px;
        background-size: 100px;
    }
    .first-group>.card:nth-child(2)>.card-image,
    .third-group>.card:nth-child(1)>.card-image {
        background-size: 90px;
    }
    .first-group>.card:nth-child(4)>.card-image {
        background-size: 160px;
    }
    .second-group>.card:nth-child(1)>.card-image,
    .second-group>.card:nth-child(2)>.card-image,
    .second-group>.card:nth-child(4)>.card-image {
        background-size: 100px;
    }
    .last-group>.card:nth-child(1)>.card-image{
        background-size: 100px;
    }
    .last-group>.card:nth-child(2)>.card-image {
        background-size: 30px;
    }
    .last-group>.card:nth-child(3)>.card-image {
        background-size: 40px;
    }
    .last-group>.card:nth-child(4)>.card-image {
        background-size: 140px;
    }
    #down {
        display: none;
    }
    .details {
        margin: 0;
        /* margin-right: 1rem; */
        font-size: smaller;
    }
    footer {
        font-size: small;
        display: none;
    }
}
