@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.nanumgothic * {
    font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --main-color: #FCAA72;
    --card-background-color: #F9F9F9;
    --card-price: #FCAA72;
    --card-shadow: #EAEAEA;
    --footer-color: #f6f6f6;
    --footer-text-color: #4A4A4A;
    /* font */
    --menu-font-size: 1.5rem;
    --category-font-size: 2.25rem;
    /* --category-font-weight: ; */
    --text-color: #000;  
    --body-font: 'Nanum Gothic';
}

body {
    font-family: var(--body-font);
    margin:0;
}

.grid-container {
    display: grid;
    margin: 0;
}

/* 헤더  */
header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 0px 0px var(--card-shadow);
    position: fixed;
    padding: 0.3rem;
    z-index: 1;
}

.nav-menu {
    margin-left: 10%;
}

.nav-menu>ul {
    list-style: none;
    display: flex;
    gap: 9.5rem;
}

ul>li {
    font-size: 20px;
}

a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.logo {
    margin-left: 1rem;
    height: auto;
    width: 9rem;
    margin-right: 14rem;
}

.nav-toggle {
    display: none;
}

.nav-link {
    display: block;
}

/* nav hover */
.nav-link:hover {
    color: var(--main-color);
    transition: 0.3s;
}

.card-group {
    width: 100%;
    font-weight: 520;
    text-align: center;
    margin-bottom: 2.4rem;
    padding-top: 10%;
}
.card-group:after {
    content: "";
    display: block;
    width: 24px;
    border-bottom: 3px solid var(--main-color);
    margin: 10px auto;
}

/* footer */
footer {
    margin-top: 11rem;
    background-color: var(--footer-color);
    height: 9.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
footer>ul {
    list-style: none;
    display: flex;
}

footer>ul>li {
    font-size: 0.8rem;
    color: var(--footer-text-color);
}
footer>ul>li::after {
    margin-left: 1rem;
    margin-right: 1rem;
    content: "ㅣ";
    color: var(--footer-text-color);

}

footer>ul>li:last-child::after {
    content: none;
}

/* 내용 */
.adventage {
    width: 850px;
    height: 340px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    margin-bottom: 150px;
}

.a-1, .a-2, .a-3 {
    display: flex;
    align-items: center;
}

.adventage i {
    margin-right: 10px;
    margin-left: 10px;
}

.a-description {
    margin: 30px;
    margin-left: 15%;

}

.a-description>p {
    font-weight: 500;
    font-size: 110%;
    margin-top: 30px;
}

.adventage h4, .a-p {
    display: block;
    font-weight: bold;
}

.a-h-1, .a-h-2 {
    display: inline-block;
}

.a-h-1 h4 {
    font-size: 140%;
    text-decoration: underline solid #FCAA72 2.5px;
    text-underline-offset: 6px;
}

.a-p {
    font-size: 160%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.a-img {
    width: 300px;
    height: 300px;
    position: relative;
    margin-right: 15%;
}

.a-img img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    z-index: 0;
}

.ratings {
    width: 1100px;
    height: 340px;
    background-color: #f6f6f6;
    display: flex;
    justify-self: center;
    justify-content: space-around;
}

.ratings p {
    display: inline-block;
}

.rtitle{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 140%;
}

.ratings1 {
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.rp {
    height: 60%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.stars {
    color: #FCAA72;
    display: flex;
    justify-content: center;
    padding-top: 15%;
}

.stars i {
    font-size: 230%;
}

.b-1 {
    font-weight:900;
    font-size: 200%;
    margin-top: -20%;
}
.p-1 {
    font-weight: 900;
    font-size: large;
    color: #d2d2d2;
    margin-top: -20%;
    padding-left: 2%;
}

.ratings2 {
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bb-2 {
    font-weight: 900;
    font-size: 200%;
}

.b-2 {
    font-weight: 900;
    font-size: large;
}

.ratings3 {
    width: 25%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bb-3 {
    font-weight: 900;
    font-size: 200%;
}

.b-3 {
    font-weight: 900;
    font-size: large;
}

/* 리뷰 */

.more {
    width: 1100px;
    display:flex;
    justify-self: center;
    justify-content: end;
    align-items: center;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.more a {
    display:flex;
    justify-self: center;
    justify-content: end;
    align-items: center;
}

.more p {
    margin-right: 5px;
    font-size: 120%;
}

.more i {
    font-size: 120%;
}

.review-left {
    max-width: 50%;
}

.gyAGI {
    padding-left: 30px;
    padding-top: 30px;
    max-width: 50%;
    margin-left: 3%;
}

.P1zUJ {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px 7px 0;
    padding: 5px 9px 5px 7px;
    border-radius: 4px;
    background-color: #efefef;
    box-sizing: border-box;
    line-height: 1.5rem;
}

.P1zUJ img {
    margin-bottom: -3px;
}

.review1 {
    display: block;
    display: flex;
    justify-content: center;
}

.review2 {
    display: block;
    display: flex;
    justify-content: center;
}

.review3 {
    display: block;
    display: flex;
    justify-content: center;
}

.review-img {
    width: 250px;
    height: 250px;
    position: relative;
    margin-right: 15%;
    float: right;
}

.review-img1 {
    margin-top: -60px;
}

.review-img2, .review-img3 {
    margin-top: -105px;
}

.rvimg {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    z-index: 0;
}

.card {
    overflow: hidden;
    width: 1100px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px var(--card-shadow);
    background-color: var(--card-background-color);
    margin-bottom: 5%;
    background-color: #f8f8f8;
}

.card-description {
    padding-top: 2%;
    padding-left: 3%;
    display: inline-block;
    max-width: 50%;
    margin-left: 3%;
}

.card-explanation {
    font-size: large;
}

@media screen and (max-width: 1200px) {
    header, .nav-menu>ul {
        display: block;
    }
    .nav-list {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .nav-menu>ul>li {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu {
        right: 120px;
        position: fixed;
    }
    
    .nav-toggle {
        display: contents;
    }
    .bx-menu {
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .show-menu {
        height: 754px;
    }

    .ratings, .card {
        width: 850px;
    }

    .more {
        margin-right: 20%;
    }

    .review-img {
        width: 200px;
        height: 200px;
    }

    .review-img1 {
        margin-top: -35px;
    }

    .review-img2, .review-img3 {
        margin-top: -80px;
    }
}

@media screen and (max-width: 390px) {
    header, .nav-menu>ul {
        display: block;
    }
    .nav-list {
        transition: 0.3s;
        overflow: hidden;
        height: 0;
    }
    .nav-menu>ul>li {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-menu {
        right: 120px;
        position: fixed;
    }
    
    .nav-toggle {
        display: contents;
    }
    .bx-menu {
        cursor: pointer;
        position: fixed;
        top: 20px;
        right: 20px;
    }
    .show-menu {
        height: 754px;
    }
}
